.menuForm {
  background-color: gray;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  color: white;
  margin: auto;
  margin-top: 20px;
}
.search {
  width: 185px;
  margin-top: 10px;
  background-color: violet;
}
.spaces {
  margin: 20px;
}
